<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCharacterLabel">Create or edit a Character</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!character.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="character.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="character.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_exp">Exp</label>
            <input type="number" class="form-control" name="exp" id="field_exp"
                [(ngModel)]="character.exp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                [(ngModel)]="character.level" required min="0" />
            <div [hidden]="!(editForm.controls.level?.dirty && editForm.controls.level?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.level?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.level?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.level?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_classes">Classes</label>
            <input type="text" class="form-control" name="classes" id="field_classes"
                [(ngModel)]="character.classes"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sex">Sex</label>
            <select class="form-control" name="sex" [(ngModel)]="character.sex" id="field_sex" >
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_height">Height</label>
            <input type="text" class="form-control" name="height" id="field_height"
                [(ngModel)]="character.height"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="character.weight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maxHP">Max HP</label>
            <input type="number" class="form-control" name="maxHP" id="field_maxHP"
                [(ngModel)]="character.maxHP"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_currentHP">Current HP</label>
            <input type="number" class="form-control" name="currentHP" id="field_currentHP"
                [(ngModel)]="character.currentHP"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_strength">Strength</label>
            <input type="number" class="form-control" name="strength" id="field_strength"
                [(ngModel)]="character.strength"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dexterity">Dexterity</label>
            <input type="number" class="form-control" name="dexterity" id="field_dexterity"
                [(ngModel)]="character.dexterity"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_wisdom">Wisdom</label>
            <input type="number" class="form-control" name="wisdom" id="field_wisdom"
                [(ngModel)]="character.wisdom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_intelligence">Intelligence</label>
            <input type="number" class="form-control" name="intelligence" id="field_intelligence"
                [(ngModel)]="character.intelligence"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_charisma">Charisma</label>
            <input type="number" class="form-control" name="charisma" id="field_charisma"
                [(ngModel)]="character.charisma"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_alignment">Alignment</label>
            <select class="form-control" name="alignment" [(ngModel)]="character.alignment" id="field_alignment" >
                <option value="lawful_good">lawful_good</option>
                <option value="neutral_good">neutral_good</option>
                <option value="chaotic_good">chaotic_good</option>
                <option value="lawful_neutral">lawful_neutral</option>
                <option value="true_neutral">true_neutral</option>
                <option value="chaotic_neutral">chaotic_neutral</option>
                <option value="lawful_evil">lawful_evil</option>
                <option value="neutral_evil">neutral_evil</option>
                <option value="chaotic_evil">chaotic_evil</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_background">Background</label>
            <input type="text" class="form-control" name="background" id="field_background"
                [(ngModel)]="character.background"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
