
<div *ngIf="character">
    <h2><span>Character</span> {{character.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{character.name}}</span>
        </dd>
        <dt><span>Race</span></dt>
        <dd>
            <span>{{character.race}}</span>
        </dd>
        <dt><span>Classes</span></dt>
        <dd>
            <span>{{character.classes}}</span>
        </dd>
        <dt><span>Sex</span></dt>
        <dd>
            <span>{{character.sex}}</span>
        </dd>
        <dt><span>Alignment</span></dt>
        <dd>
            <span>{{character.alignment}}</span>
        </dd>
        <dt><span>Height</span></dt>
        <dd>
            <span>{{character.height}}</span>
        </dd>
        <dt><span>Weight</span></dt>
        <dd>
            <span>{{character.weight}}</span>
        </dd>
        <dt><span>Max HP</span></dt>
        <dd>
            <span>{{character.maxHP}}</span>
        </dd>
        <dt><span>Current HP</span></dt>
        <dd>
            <span>{{character.currentHP}}</span>
        </dd>
        <dt><span>Strength</span></dt>
        <dd>
            <span>{{character.strength}}</span>
        </dd>
        <dt><span>Dexterity</span></dt>
        <dd>
            <span>{{character.dexterity}}</span>
        </dd>
        <dt><span>Wisdom</span></dt>
        <dd>
            <span>{{character.wisdom}}</span>
        </dd>
        <dt><span>Intelligence</span></dt>
        <dd>
            <span>{{character.intelligence}}</span>
        </dd>
        <dt><span>Charisma</span></dt>
        <dd>
            <span>{{character.charisma}}</span>
        </dd>
        <dt><span>Background</span></dt>
        <dd>
            <span>{{character.background}}</span>
        </dd>
        <dt><span>Exp</span></dt>
        <dd>
            <span>{{character.exp}}</span>
        </dd>
        <dt><span>Level</span></dt>
        <dd>
            <span>{{character.level}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'character/'+ character.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
